/* importations */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Définition corps de la page*/

body
{
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size : 1em;
    font-weight: 400;
    margin: 0px;
}

#bloc-page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;     
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#page
{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Définition du header*/

header
{
    display: flex;
    width: 100%;
}

#logo
{
    height: 45px;
    padding-top: 27px;
}

.bouton_nav
{
    padding: 30px;
    border-top: solid 3px white;
}

.bouton_nav:hover
{
    border-top-color:#0065FC;
}

.bouton_nav:hover a 
{
    color: #0065FC;
}

nav
{
    margin-left:auto;
    display: flex;
    font-size: 1em;
}

nav a
{
    color: black;
    text-decoration: none;
}

#inscription
{
    padding: 33px;
    font-size: 1em;
    font-weight: bold;
}

#inscription a
{
    color: #0065FC;
    text-decoration: none;
}

/* Définition de la section Recherche hébergement*/

#trouver
{
    margin-top: 5px;
}

#intro
{
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 25px;
}

#champ
{
    display: inline-flex;
    height: 50px;
    border: solid 0.5px #F2F2F2;
    border-radius: 20px;
}

#pictor
{
    font-size: 1.2em;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: center;
    background-color:  #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#champr input
{
    border: none;
    vertical-align: center;
    height: 48px;
    width: 220px;
    padding-left: 20px;
    font-size: 1.1em;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#champr input:focus
{
    outline: none;
}

#champr input::placeholder
{
    color:black;
}

/* boutton Ordinateur et tablette*/

#buttonrd button
{
    border: none;
    height: 50px;
    width: 150px;
    background-color:#0065FC ;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

/* Bouton Téléphone mobile*/

#buttonrm button
{
    border: none;
    height: 50px;
    width: 50px;
    background-color:#0065FC ;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    display: none;
}

/* filtres de recherche*/

#recherche
{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#recherche p
{
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 8px;
    margin-right:23px;
}

#filtres
{
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.filtre
{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 7px;
    height: 32px;
    border-radius: 30px;
    border: solid 2px #F2F2F2;
    border-left: none;
}

.filtre:hover
{
    background-color: #0065FC;
    cursor: pointer;
}

.picto
{
    text-align: center;
    vertical-align: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
    background-color:#DEEBFF ;
    border-radius: 50%;
    font-size: 0.75em;
}

.picto i
{
    color: #0065FC ;
}

.noir
{
    color: black;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

#info
{
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

#info p
{
    text-align: center;
    font-weight: 400;
}

#pictoi
{
    height: 25px;
    width: 25px;
    color: #0065FC;
    border-radius: 50%;
    border: solid 2px #F2F2F2;
    text-align: center;
    line-height: 25px;
    margin-top: 12.5px;
    margin-right: 13px;
    font-size: 12px;
}

/*Partie Logement*/

#logement
{
    display: inline-flex;
    flex-direction: row;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

#logement a
{
    color: black;
    text-decoration:none;
}

#logement a:hover
{
    text-decoration:none;
}

/* Parti hébergement*/

#hebergement
{
    background-color: #F2F2F2; 
    border-radius: 20px;
    padding: 40px 10px 40px 40px;
    margin-right:40px;
}

.title
{
    font-size: 1.3em;
    font-weight: bold;
}

#orga_heber
{
    display: flex;
    background-color: #F2F2F2;
    flex-wrap: wrap;
    max-width: 835px;
}

.card
{
    background-color:white;
    height: 195px;
    width: 240px;
    border-radius: 20px;
    border: solid 4px transparent;
    overflow: hidden;
    margin-top: 25px;
    margin-right: 30px;   
    box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
    transition: all 150ms ease-out;
}

.card:hover
{
    background-color:#DEEBFF;
    border-color: transparent;
    box-shadow: 0px 4px 10px 3px #C4c4c4;
}

.picturecard
{
    height: 120px;
    width: 240px;
}

.description
{
    padding-left: 15px;
}

.star
{
    color: #0065FC;
    font-size: 13px;
    margin-top: -8px;
}

.star4
{
    color: #F2F2F2;
}

.star3
{
    color: #F2F2F2;
}

.card h4
{
    margin-top: 5px;
    margin-bottom: -15px;
}

.card p
{
    font-size: 15px;
    padding-top:  4px; ;
}

#cardplus 
{
    margin-top: 35px;
    font-size: 1.2em;
    font-weight: bold;
}

/*Partie Populaires*/

#populaire
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 20px;
}

#populairet
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#populairet i
{
    font-size: 23px;
}

.cardp
{
    background-color:white;
    height: 130px;
    width: 347px;
    margin-top: 35px;
    border-radius: 20px;
    display: flex;
    border: solid 4px transparent;
    overflow: hidden;
    box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
    transition: all 150ms ease-out;
}

.cardp:first-of-type
{
    margin-top: 25px;
}

.cardp a
{
    display: flex;
}

.cardp:hover
{
    background-color: #DEEBFF;
    box-shadow: 0px 4px 10px 3px #C4c4c4;
    border-color: transparent;
}

.populairecard
{
    height: 150px;
    width: 150px;
}

.descriptiond
{
    padding-left: 20px;
    margin-top: -2px;
}

.descriptiond h4
{
    line-height: 0;
}

.descriptiond p
{
    margin-top: -4px;
    margin-bottom: 35px;
}

/*Partie activités*/

#activite
{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    max-width: 1350px
}

#activite h2
{
    font-size: 1.3em;
    margin-bottom: 2px;
}

#orga_activite
{
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px;
}

#orga_activite a
{
    text-decoration: none;
    color: black;
}

section figure
{
    transition: all 150ms ease-out;
}

section figure:hover
{
    background-color: #DEEBFF;
    box-shadow: 0px 4px 10px 3px #C4c4c4;
    border-color: transparent;
}

figure
{
    max-width: 305px;
}

figure p
{
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-weight: bolder;  
    margin: 0;
}

.packact
{
    margin-left:0px;
    padding-left: 0px;
}

.packact p
{
    padding-bottom: 15px;
}

.photoa1
{
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 43px;
    box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
}
 
.photoa1 img
{
    height: 380px;
    width: 305px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
} 

.photoa2
{
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 43px;
    box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
}

.photoa2 img
{
    height: 182px;
    width: 305px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.photoa3
{
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 43px;
    margin-top: 35px;
    box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
}

.photoa3 img
{
    height: 112px;
    width: 305px;
    border-radius: 20px 20px 0px 0px;
}

.photoa4
{
    border-radius: 20px; 
    margin-left: 0px;
    margin-right: 44px;
    box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
}
 
.photoa4 img
{
    height: 380px;
    width: 305px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
} 

.photoa5
{
    border-radius: 20px;
    margin-left: 0px;
    box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
}

.photoa5 img
{
    height: 140px;
    width: 305px;
    border-radius: 20px 20px 0px 0px;
}

.photoa6
{
    border-radius: 20px; 
    margin-left: 0px;
    margin-top: 35px;
    box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
}

.photoa6 img
{
    height: 154px;
    width: 305px;
    border-radius: 20px 20px 0px 0px;
}

/* Footer*/

footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9em;
    height: auto;
    padding-left: 80px;
    padding-right: 400px;
    padding-bottom: 20px;
}

.foot
{
    margin-top: 25px;
}

.foot ul
{
    list-style: none;
    margin-left: -40px;
    line-height: 27px;
}

footer a
{
    font-family:'Raleway',Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin-bottom: 30px;
}

footer a:hover
{
    text-decoration: underline black;
}

/* -------------------------------------------DEBUT DES MEDIAS QUERIES ------------------------------------*/
/*------------------- 1400px/ 1000px/ 920px / 770px/ Max device-width 500px  */

@media screen and (max-width:1400px)
{
    #logement
    {
        flex-direction:column-reverse;
    }

    #populaire
    {
        max-width: 815px;
        margin-bottom: 25px;
    }
    .cardsp
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cardp
    {
        margin-top: 25px;
    }

    #activite
    {
        max-width: 920px;
    }
    
    #orga_activite
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
    }
 
    .photoa1
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa1 img 
    {
        width: 280px;
        height: 132px;
        object-fit: cover;
        object-position : 50% 60%;
    }

    .photoa2
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa2 img 
    {
        width: 280px;
        height: 132px;
    }

    .photoa3
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa3 img 
    {
        width: 280px;
        height: 132px;
    }

    .photoa4
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa4 img 
    {
        width: 280px;
        height: 132px;
        object-fit: cover;
        object-position : 50% 60%;
    }

    .photoa5
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa5 img 
    {
        width: 280px;
        height: 132px;
    }

    .photoa6
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa6 img 
    {
        width: 280px;
        height: 132px;
    }

    .packact
    {
        display: flex;
    }

    footer
    {
        padding-right: 200px;
        padding-left: 100px;
        justify-content: space-between;
    }

}

@media screen and (max-width:1000px)
{
   
    #logement
    {
        flex-direction:column-reverse;
    }

    #hebergement
    {
        margin-right: 0;
    }

    #populaire
    {
        max-width: 815px;
        margin-top: 25px;
    }
    .cardsp
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cardp
    {
        margin-top: 25px;
    }

    #activite
    {
        max-width: 900px;
        align-items: center;
    }


    #orga_activite
    {
        display: flex;
        flex-wrap: wrap;
    }

    figure 
    {
        max-width: 335px;
    }

    .photoa1
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa1 img 
    {
        width: 280px;
        height: 132px;
        object-fit: cover;
        object-position : 50% 60%;
    }

    .photoa2
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa2 img 
    {
        width: 280px;
        height: 132px;
    }

    .photoa3
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa3 img 
    {
        width: 280px;
        height: 132px;
    }

    .photoa4
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa4 img 
    {
        width: 280px;
        height: 132px;
        object-fit: cover;
        object-position : 50% 60%;
    }

    .photoa5
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa5 img 
    {
        width: 280px;
        height: 132px;
    }

    .photoa6
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }


    .photoa6 img 
    {
        width: 280px;
        height: 132px;
    }


    .packact
    {
        display: flex;
        
    }
    footer
    {
        padding-right: 200px;
        padding-left: 100px;
        justify-content: space-between;
    }

} 

@media screen and (max-width:920px)  /* 920 !!!!!!!!!!!!!!!!!!!!!!!*/
{

    #page 
    {
        align-items: center;
    }

    header
    {
        max-width: 90%;
    }
    
    #trouver
    {
        max-width: 90%;
    }

    #logement
    {
        flex-direction:column-reverse;
        margin-top: 0;
    }

    #hebergement
    {
        margin-right: 0;
    }

    #orga_heber
    {
        justify-content: space-around;
    }

    #populaire
    {
        max-width: 815px;
        margin-top: 25px;
    }
    .cardsp
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cardp
    {
        margin-top: 25px;
        width: 100%;
    }

    #activite
    {
        max-width: 900px;
        align-items: center;
    }

    
    #orga_activite
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    figure 
    {
        max-width: 230px;
    }

    .photoa1
    {
        height: 194px;
        border-radius: 20px; 
        margin: 10px;
        display: inline-flex;
    }

    .photoa1 img 
    {
        width: 230px;
        height: 132px;
        object-fit: cover;
        object-position : 50% 60%;
    }

    .photoa2
    {
        height: 194px;
        border-radius: 20px; 
        margin: 10px;
        display: inline-flex;
    }

    .photoa2 img 
    {
        width: 230px;
        height: 132px;
    }

    .photoa3
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa3 img 
    {
        width: 230px;
        height: 132px;
    }

    .photoa4
    {
        height: 194px;
        border-radius: 20px; 
        margin: 10px;
        display: inline-flex;
    }


    .photoa4 img 
    {
        width: 230px;
        height: 132px;
    }

    .photoa5
    {
        height: 194px;
        border-radius: 20px; 
        margin: 10px;
        display: inline-flex;
    }

    .photoa5 img 
    {
        width: 230px;
        height: 132px;
    }

    .photoa6
    {
        height: 194px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa6 img 
    {
        width: 230px;
        height: 132px;
    }

    .packact
    {
        display: flex;
    }
    footer
    {
        padding-right: 10%;
        padding-left: 10%;
        justify-content: space-between;
    }
  
} 

@media screen and (max-width:770px)  /* 720 !!!!!!!!!!!!!!!!!!!!!!!*/
{

     header
   {
       display: inline-flex;
        flex-wrap: wrap;
       justify-content: space-between;
       width: 375px;
   } 
 
   nav
   {
       width: 100%;
   }

   header :nth-child(2)
   {
       order:3 ;
       margin-left: auto;
   } 

   #inscription
   {
       padding-top: 45px;
       padding-right: 0px;
   } 

   nav
   {
       border-bottom: solid 2px #F2F2F2;
       width: 95%;
       justify-content: center;
       margin-left: 0;
   }
    
   nav :nth-child(1)
   {
       margin-right: 40px;
   }
    .bouton_nav
   {
    padding: 15px;
    border-top-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: white;
   }

   .bouton_nav:hover
{
    border-bottom-color:#0065FC;
}  

    #trouver
    {
        max-width: 90%;
    }

    #recherche 
    {
        flex-direction: column;
    }

    #recherche p {
        margin: 10px;
    }

    #pictoi {
        height: 15px;
        width: 15px;
        color: #0065FC;
        border-radius: 50%;
        border: solid 2px #F2F2F2;
        text-align: center;
        line-height: 16px;
        margin-top: 17.5px;
        margin-right: 11px;
        font-size: 8px;
    }
    .noir {
        font-size: 16px;
    }

    #info p {
        text-align: start;
    }

    #logement
    {
        flex-direction:column-reverse;
        margin-top: 0;
        min-width: 375px;
        max-width: 460px;
    }

    #hebergement
    {
        margin-right: 0;
        padding: 10px;
        background-color: white;
    }

    #orga_heber
    {
        justify-content: space-around;
        background-color: white;
        max-width: 460px;
    }

    .card {
        height: 195px;
        width: 100%;
        margin-right: 0;
    }

    .picturecard
    {
        width: 100%;
    }

    #populaire
    {
        padding: 10px;
        margin-top: 8px;
    }

    #populairet
    {
        display: inline-flex;
    }
    .cardsp
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cardp
    {
        margin-top: 25px;
        width: 95%;
        height: 145px;
    }

    #activite
    {
        display: inline-flex;
        width: 95%;
        align-items: center;
        margin-top: 0px;
    }

    #activite h2 
    {
        text-align: start;
    }

    #orga_activite
    {
        display: inline-flex;
        flex-direction: column;
    }

    .packact
    {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    figure 
    {
        width: 95%;
        max-width: 440px;
    }
    
    .photoa1
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }
    
    .photoa1 img 
    {
        width: 100%;
        height: 70%;
        object-fit: cover;
        object-position : 50% 60%;
    }

    .photoa2
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa2 img 
    {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .photoa3
    {
        height: 190px;
        border-radius: 20px; 
        margin: 10px;
        display: inline-flex;
    }

    .photoa3 img 
    {
        width: 100%;
        height: 70%;
    }

    .photoa4
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa4 img 
    {
        width: 100%;
        height: 70%;
    }

    .photoa5
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa5 img 
    {
        width: 100%;
        height: 70%;
    }

    .photoa6
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa6 img 
    {
        width: 100%;
        height: 70%;
    }

    footer
    {
        padding-right: 10%;
        padding-left: 10%;
        display:flex;
        flex-direction: column;
        padding-bottom: 10%;
    }
  
    #buttonrd 
    {
        display: none;
    }
    #buttonrm button
    {
       display: initial;
    }
} 

@media screen and (max-width:7in) /* 500 !!!!!!!!!!!!!!!!!!!!!!!*/
{

     header
   {
       display: inline-flex;
        flex-wrap: wrap;
       justify-content: space-between;
       width: 375px;
   } 
 
   header :nth-child(2)
   {
       order:3 ;
   } 

   #inscription
   {
       padding-top: 45px;
   } 

   nav
   {
       border-bottom: solid 2px #F2F2F2;
       width: 95%;
       justify-content: center;
       margin-left: 0;
   }
    
   nav :nth-child(1)
   {
       margin-right: 40px;
   }
   
    .bouton_nav
   {
        padding: 15px;
        border-top-style: none;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: white;
    }

   .bouton_nav:hover
    {
        border-bottom-color:#0065FC;
    }  

    #trouver
    {
        max-width: 90%;
    }

    #recherche 
    {
        flex-direction: column;
    }

    #recherche p {
        margin: 10px;
    }

    #pictoi {
        height: 15px;
        width: 15px;
        color: #0065FC;
        border-radius: 50%;
        border: solid 2px #F2F2F2;
        text-align: center;
        line-height: 16px;
        margin-top: 17.5px;
        margin-right: 11px;
        font-size: 8px;
    }
    .noir {
        font-size: 16px;
    }

    #info p {
        text-align: start;
    }


    #logement
    {
        flex-direction:column-reverse;
        margin-top: 0;
        min-width: 375px;
        max-width: 460px;
    }

    #hebergement
    {
        margin-right: 0;
        padding: 10px;
        background-color: white;
    }

    #orga_heber
    {
        justify-content: space-around;
        background-color: white;
        max-width: 460px;
    }

    .card {
        height: 195px;
        width: 100%;
    }

    .picturecard
    {
        width: 100%;
    }

    #populaire
    {
        padding: 10px;
        margin-top: 8px;
    }

    #populairet
    {
        display: inline-flex;
    }
    .cardsp
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cardp
    {
        margin-top: 25px;
        width: 95%;
        height: 145px;
    }

    #activite
    {
        display: inline-flex;
        width: 95%;
        align-items: flex-start;
        margin-top: 0px;
    }

    #activite h2 
    {
        text-align: start;
    }

    #orga_activite
    {
        display: inline-flex;
        flex-direction: column;
    }

    .packact
    {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    figure 
    {
        width: 95%;
        max-width: 440px;
    }
    
    .photoa1
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }
    
    .photoa1 img 
    {
        width: 100%;
        height: 70%;
        object-fit: cover;
        object-position : 50% 60%;
    }

    .photoa2
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa2 img 
    {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .photoa3
    {
        height: 190px;
        border-radius: 20px; 
        margin: 10px;
        display: inline-flex;
    }

    .photoa3 img 
    {
        width: 100%;
        height: 70%;
    }

    .photoa4
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa4 img 
    {
        width: 100%;
        height: 70%;
    }

    .photoa5
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa5 img 
    {
        width: 100%;
        height: 70%;
    }

    .photoa6
    {
        height: 190px;
        border-radius: 20px;
        margin: 10px;
        display: inline-flex;
    }

    .photoa6 img 
    {
        width: 100%;
        height: 70%;
    }

    footer
    {
        padding-right: 10%;
        padding-left: 10%;
        display:flex;
        flex-direction: column;
        padding-bottom: 10%;
    }
  
    #buttonrd 
    {
        display: none;
    }
    #buttonrm button
    {
       display: initial;
    }
} 
