/* importations + media querie*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Définition corps de la page*/

body
{
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size : 1.2em;
    font-weight: 400;
    margin: 0%;
    background-color: magenta;
}

#bloc-page
{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-right: 35px;
    background-color: rgb(106, 42, 165);
}

/* Définition du header*/

header
{
    display: flex;
    width: 100%;
}

#logo
{
    height: 45px;
    padding-top: 27px;
}

.bouton_nav
{
  padding: 30px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: white;
}

.bouton_nav:hover
{
    border-top-color:#0065FC;
}

.bouton_nav:hover a 
{
    color: #0065FC;
}

nav
{
    margin-left:auto;
    display: flex;
    font-size: 1em;
    
}

nav a
{
    color: black;
    text-decoration: none;
}


#inscription
{
 padding: 33px;
 font-size: 1em;
 font-weight: bold;
}

#inscription a
{
    color: #0065FC;
    text-decoration: none;
}

/* Définition de la section Recherche hébergement*/

#trouver
{
    background-color: orange;
}


#intro
{
    font-weight: 500;
}


#filtre
{
    background-color: green;
    display: flex;
}

#recherche
{
    display: flex;
    flex-direction: row;
}

#recherche p
{
    background-color: rosybrown;
    font-weight: bold;
}

.icone
{
    padding-top: 10px;
    margin-left: 15px;
    margin-top: 7px;
    background-color: white;
    height: 35px;
    border-radius: 35%;
}

.noir
{
    color: black;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 15px;
}

.fa-money-bill-wave
{
    color: #0065FC ;
    background-color: violet;
}

.fa-child
{

    color: #0065FC;
}

.fa-heart
{
    color: #0065FC; 
}

.fa-dog
{
    color:#0065FC ;
    border-radius: 25px;
    background-color: #99D9EA ;
}

#info
{
    background-color:none;
    font-size: 0.8.em;
}

.fa-info
{
    color: #0065FC;
    border: solid 2px gray;
    margin-left: 0px;
    margin-top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
/*Mise en place Section hébergement + Aside les plus populaire*/

#logement
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow;
    height: 650px;
}

/* Parti hébergement*/

#hebergement
{
    background-color: darkblue;
}

.photoh
{
    background-color: gray;
    margin-top: 2px;
    height: 150px;
}

.photoh img
{
    height: 150px;
    
}


/*Partie Populaires*/

#populaire
{
    background-color: purple;
}

.photop
{
    background-color: gray;
    margin-top: 2px;
    height: 150px;
    margin-top: 100px;
}

.photop img
{
    height: 150px;
    
}

/*Partie activités*/

#activite
{
    margin-top: 0px;
    background-color:white;
}

.photoa img
{
   height: 150px;
}

/* Footer*/

footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    height: 175px;
    padding-left: 45px;
    padding-right: 400px;
}

footer a
{
    font-family:'Raleway',Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin-bottom: 30px;
}

#propos a
{
    line-height: 25px;
}

#qualite a
{
    line-height: 25px ;
}


#assistance a
{
    line-height: 25px;
}